QWidget#panel, QWidget#controlCenter,
QWidget#appMenu, QWidget#userMenu,
QWidget#panelPane, QWidget#autostartPane,
QWidget#appletsPane, QWidget#appearancePane,
QWidget#datetimeAppletPane, QWidget#appMenuAppletPane,
QWidget#about {
    background-color: #e8e8e8;
}

QLabel {
    color: #010101;
}

QPushButton {
    background-color: #e8e8e8;
    color: #010101;
}

QDial, QTabWidget {
    background-color: #e8e8e8;
}

QPushButton#userMenuPushButton {
    text-align: right;
}
